<span class="miniLibrarySong">
    <span class="mlCoverImage">
        <img src="<%= miniLibrarySong.songAlbumCover %>" alt="cover image">
    </span>
    <span class="mlInfo">
        <span class = "genre"> <%= miniLibrarySong.songGenre  || 'Genre'%></span>
        <span class = "songTitle"> <%= miniLibrarySong.songName || 'Song Title'%> </span>
        <span class = "songArtist"> <%= miniLibrarySong.songLeadArtist|| 'Artist'%> </span>
        <span class = "songDuration"> <%= miniLibrarySong.songDuration || 'Duration'%> </span>
    </span>
    <span class="intButtons">
        <audio src= " <%= miniLibrarySong.songSource%>"></audio>
        <button onclick="playMiniAudio(this)"><i class="fa-regular fa-circle-play"></i></button>
        <button onclick="stopMiniAudio(this)" class = "stopButton"><i class="fa-regular fa-circle-stop"></i></button>
        <button><i class="fa-solid fa-circle-plus"></i></button>
        <button><i class="fa-solid fa-share"></i></button>
    </span>
</span>

<script>
    function playMiniAudio(button) 
    {
        var allAudio = document.getElementsByTagName("audio");
        console.log("got audio??")
        for(var i = 0; i < allAudio.length; i++)
        {
            allAudio[i].pause();
            allAudio[i].currentTime = 0;
        }
        var soundParent = button.parentElement;
        var soundSiblings = soundParent.children;
        var soundTrack = soundSiblings[0];
        console.log(soundTrack);
        soundTrack.play();
        button.style.display = "none";
        soundSiblings[2].style.display = "flex";
    }

    function stopMiniAudio(button)
    {
        var soundParent = button.parentElement;
        var soundSiblings = soundParent.children;
        var soundTrack = soundSiblings[0];
        button.style.display = "none";
        soundSiblings[1].style.display = "flex";
        soundTrack.pause();
        soundTrack.currentTime = 0;
    }
</script>