<button class="producerButton" id = <%= producer.producerId  %>>
    <span class="producerSlot">
        <span class="producerPhoto">
            <img src="<%= producer.avatar %>" alt="producer photo">
        </span>
        <span class="producerDetails">
            <span class="producerName"><%= producer.producerName %></span>
            <span class="producerID"><%= producer.producerId %></span>
            <span class="producerStatus"><%= producer.producerStatus %></span>
        </span>
    </span>
</button>