<span class="songCard">
    <span class="songArt">
        <img src="<%= song.songAlbumCover %>" alt="placeholder">
    </span>
    <span class="songInfo">
        <span class="songTitle"><%= "song Name" || song.songName %></span>
        <span class="songArtist"><%= "Artist Name" || song.SongLeadArtist %></span>
        <span class="songDuration"><%= "00:00" || song.songDuration %></span>
        <span><%= "Genre" || song.songGenre %></span>
    </span>
    <span class="songButtons">
        <audio src="<%= song.songSource %>" id = "<%= song.songId %>"></audio>
        <button onclick="playAudio(this)"><i class="fa-regular fa-circle-play"></i></button>
        <button onclick="stopAudio(this)" class="stopAudio"><i class="fa-solid fa-circle-stop"></i></button>
        <button><i class="fa-solid fa-circle-plus"></i></button>
        <button><i class="fa-solid fa-share"></i></button>
    </span>
</span>
<script>								
    function playAudio(button)
    {
        var allAudio = document.getElementsByTagName("audio");
        console.log("got audio??")
        for(var i = 0; i < allAudio.length; i++)
        {
            allAudio[i].pause();
            allAudio[i].currentTime = 0;
        }
        var soundParent = button.parentElement;
        var soundSiblings = soundParent.children;
        var soundTrack = soundSiblings[0];
        console.log(soundTrack);
        soundTrack.play();
        button.style.display = "none";
        soundSiblings[2].style.display = "flex";
    }
    function stopAudio(button) 
    {
        var soundParent = button.parentElement;
        var soundSiblings = soundParent.children;
        var soundTrack = soundSiblings[0];
        button.style.display = "none";
        soundSiblings[1].style.display = "flex";
        soundTrack.pause();
        soundTrack.currentTime = 0;
    }
</script>