<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Base CSS -->
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/navbar.css">
        <link rel="stylesheet" href="../../css/mainWidget.css">
        <link rel="stylesheet" href="../../css/timeline.css">
        <link rel="stylesheet" href="../../css/searchBar.css">
		<link rel="stylesheet" href="../../css/footer.css">
        <link rel="stylesheet" href="css/pageHero.css">
		<link rel="stylesheet" href="css/dashboard.css">
        <link rel="stylesheet" href="css/cards.css">
        <!-- Title -->
        <title>Cosmic Harmony - <%= pageTitle %></title>
        <!-- Logo Icon -->
        <link rel="icon" href="../../assets/squareLogo.png">
     </head>
    <body>
        <header><%- include('../partials/navbar.ejs') %></header>
        <main>
            <%- include('../partials/hero.ejs') %>
            <%- include('../partials/searchBar.ejs') %>
            <!-- DJ cards -->
            <div id = "djPoolContainer">
                <!-- DJ 1 -->
                <span class="djCard">
                    <span class="djStatus">
                        <span>offline</span>
                    </span>
                    <span class = "djBasics">
                        <span class = "djProfilePhoto">
                            <img src="assets/images/placeholderImages/djPlaceholder1.jpg">
                        </span>
                        <span class="djInfo">
                            <span class="djName">Dj Barry</span>
                            <span class = "djLocation">
                                State, Country
                                <span>
                                    <progress value="4" max="5">rating</progress>
                                </span>
                            </span>
                        </span>
                        <span class="managementButtons">
                            <button><i class="fa-solid fa-headphones-simple"></i> assign</button>
                            <button><i class="fa-solid fa-message"></i> message</button>
                            <button><i class="fa-solid fa-calendar-week"></i> schedule</button>
                        </span>
                    </span>
                    <span class="aboutDJ">
                        This is some text talking about who the dj is and highlights
                        their genre of interest.
                    </span>
                    <span class="eventNote">_ events in 24hrs</span>
                    <span class="djSocials">
                        <span><i class="fa-brands fa-instagram"></i></span>
                        <span><i class="fa-brands fa-facebook"></i></span>
                        <span><i class="fa-brands fa-twitter"></i></span>
                        <span><i class="fa-brands fa-youtube"></i></span>
                        <span><i class="fa-brands fa-spotify"></i></span>
                    </span>
                </span>
                <!-- DJ 2 -->
                <span class="djCard">
                    <span class="djStatus">
                        <span>online</span>
                    </span>
                    <span class = "djBasics">
                        <span class = "djProfilePhoto">
                            <img src="assets/images/placeholderImages/djPlaceholder2.jpg">
                        </span>
                        <span class="djInfo">
                            <span class="djName">Dj Mike</span>
                            <span class = "djLocation">
                                State, Country
                                <span>
                                    <progress value="4" max="5">rating</progress>
                                </span>
                            </span>
                        </span>
                        <span class="managementButtons">
                            <button><i class="fa-solid fa-headphones-simple"></i> assign</button>
                            <button><i class="fa-solid fa-message"></i> message</button>
                            <button><i class="fa-solid fa-calendar-week"></i> schedule</button>
                        </span>
                    </span>
                    <span class="aboutDJ">
                        This is some text talking about who the dj is and highlights
                        their genre of interest.
                    </span>
                    <span class="eventNote">_ events in 24hrs</span>
                    <span class="djSocials">
                        <span><i class="fa-brands fa-instagram"></i></span>
                        <span><i class="fa-brands fa-facebook"></i></span>
                        <span><i class="fa-brands fa-twitter"></i></span>
                        <span><i class="fa-brands fa-youtube"></i></span>
                        <span><i class="fa-brands fa-spotify"></i></span>
                    </span>
                </span>
                <!-- DJ 3 -->
                <span class="djCard">
                    <span class="djStatus">
                        <span>live now</span>
                    </span>
                    <span class = "djBasics">
                        <span class = "djProfilePhoto">
                            <img src="assets/images/placeholderImages/djPlaceholder3.jpg">
                        </span>
                        <span class="djInfo">
                            <span class="djName">Dj Mensah</span>
                            <span class = "djLocation">
                                State, Country
                                <span>
                                    <progress value="4" max="5">rating</progress>
                                </span>
                            </span>
                        </span>
                        <span class="managementButtons">
                            <button><i class="fa-solid fa-headphones-simple"></i> assign</button>
                            <button><i class="fa-solid fa-message"></i> message</button>
                            <button><i class="fa-solid fa-calendar-week"></i> schedule</button>
                        </span>
                    </span>
                    <span class="aboutDJ">
                        This is some text talking about who the dj is and highlights
                        their genre of interest.
                    </span>
                    <span class="eventNote">_ events in 24hrs</span>
                    <span class="djSocials">
                        <span><i class="fa-brands fa-instagram"></i></span>
                        <span><i class="fa-brands fa-facebook"></i></span>
                        <span><i class="fa-brands fa-twitter"></i></span>
                        <span><i class="fa-brands fa-youtube"></i></span>
                        <span><i class="fa-brands fa-spotify"></i></span>
                    </span>
                </span>
                <!-- DJ 4 -->
                <span class="djCard">
                    <span class="djStatus">
                        <span>offline</span>
                    </span>
                    <span class = "djBasics">
                        <span class = "djProfilePhoto">
                            <img src="assets/images/placeholderImages/djPlaceholder4.jpg">
                        </span>
                        <span class="djInfo">
                            <span class="djName">Dj Banana</span>
                            <span class = "djLocation">
                                State, Country
                                <span>
                                    <progress value="4" max="5">rating</progress>
                                </span>
                            </span>
                        </span>
                        <span class="managementButtons">
                            <button><i class="fa-solid fa-headphones-simple"></i> assign</button>
                            <button><i class="fa-solid fa-message"></i> message</button>
                            <button><i class="fa-solid fa-calendar-week"></i> schedule</button>
                        </span>
                    </span>
                    <span class="aboutDJ">
                        This is some text talking about who the dj is and highlights
                        their genre of interest.
                    </span>
                    <span class="eventNote">_ events in 24hrs</span>
                    <span class="djSocials">
                        <span><i class="fa-brands fa-instagram"></i></span>
                        <span><i class="fa-brands fa-facebook"></i></span>
                        <span><i class="fa-brands fa-twitter"></i></span>
                        <span><i class="fa-brands fa-youtube"></i></span>
                        <span><i class="fa-brands fa-spotify"></i></span>
                    </span>
                </span>
                <!-- DJ 5 -->
                <span class="djCard">
                    <span class="djStatus">
                        <span>unavailable</span>
                    </span>
                    <span class = "djBasics">
                        <span class = "djProfilePhoto">
                            <img src="assets/images/placeholderImages/djPlaceholder5.jpg">
                        </span>
                        <span class="djInfo">
                            <span class="djName">Dj Pickle</span>
                            <span class = "djLocation">
                                State, Country
                                <span>
                                    <progress value="4" max="5">rating</progress>
                                </span>
                            </span>
                        </span>
                        <span class="managementButtons">
                            <button><i class="fa-solid fa-headphones-simple"></i> assign</button>
                            <button><i class="fa-solid fa-message"></i> message</button>
                            <button><i class="fa-solid fa-calendar-week"></i> schedule</button>
                        </span>
                    </span>
                    <span class="aboutDJ">
                        This is some text talking about who the dj is and highlights
                        their genre of interest.
                    </span>
                    <span class="eventNote">_ events in 24hrs</span>
                    <span class="djSocials">
                        <span><i class="fa-brands fa-instagram"></i></span>
                        <span><i class="fa-brands fa-facebook"></i></span>
                        <span><i class="fa-brands fa-twitter"></i></span>
                        <span><i class="fa-brands fa-youtube"></i></span>
                        <span><i class="fa-brands fa-spotify"></i></span>
                    </span>
                </span>
                <!-- DJ 6 -->
                <%- 
                    include('../partials/djCard.ejs', 
                    {
                        djStatus : "Live Now", 
                        djName : "Dj Logic", 
                        djState: "Maryland", 
                        djCountry : "USA",
                        djRating : 3.5,
                        eventCount : 2,
                        djPhoto : "assets/images/placeholderImages/djPlaceholder10.jpg" 
                    }) 
                %>
                <!-- DJ 7 -->
                <%- 
                    include('../partials/djCard.ejs', 
                    {
                        djStatus : "Online", 
                        djName : "Dj Trinket", 
                        djState: "Sao Paolo", 
                        djCountry : "Brazil",
                        djRating : 3.5,
                        eventCount : 2,
                        djPhoto : "assets/images/placeholderImages/djPlaceholder10.jpg" 
                    }) 
                %>
                <!-- DJ 8 -->
                <%- 
                    include('../partials/djCard.ejs', 
                    {
                        djStatus : "Online", 
                        djName : "Dj Leo", 
                        djState: "New York", 
                        djCountry : "USA",
                        djRating : 2.5,
                        eventCount : 3,
                        djPhoto : "assets/images/placeholderImages/djPlaceholder4.jpg" 
                    }) 
                %>
                <!-- DJ 9 -->
                <%- 
                    include('../partials/djCard.ejs', 
                    {
                        djStatus : "unavailable", 
                        djName : "Dj Trouble", 
                        djState: "Madrid", 
                        djCountry : "Spain",
                        djRating : 1.5,
                        eventCount : 2,
                        djPhoto : "assets/images/placeholderImages/djPlaceholder2.jpg" 
                    }) 
                %>
                <!-- DJ 10 -->
                <%- 
                include('../partials/djCard.ejs', 
                    {
                        djStatus : "Online", 
                        djName : "Dj Trinket", 
                        djState: "Sao Paolo", 
                        djCountry : "Brazil",
                        djRating : 3.5,
                        eventCount : 0,
                        djPhoto : "assets/images/placeholderImages/djPlaceholder10.jpg" 
                    }) 
                %>
                <!-- DJ 11 -->
                <%- 
                    include('../partials/djCard.ejs', 
                    {
                        djStatus : "Live Now", 
                        djName : "Dj Marley", 
                        djState: "Ohio", 
                        djCountry : "USA",
                        djRating : 3.5,
                        eventCount : 4,
                        djPhoto : "assets/images/placeholderImages/djPlaceholder1.jpg" 
                    }) 
                %>
                <!-- DJ 12 -->
                <%- 
                    include('../partials/djCard.ejs', 
                    {
                        djStatus : "Available", 
                        djName : "Dj pavlov", 
                        djState: "Kiev", 
                        djCountry : "Ukraine",
                        djRating : 1.5,
                        eventCount : 2,
                        djPhoto : "assets/images/placeholderImages/djPlaceholder9.jpg" 
                    }) 
                %>
                <!-- DJ 13 -->
                <%- 
                    include('../partials/djCard.ejs', 
                    {
                        djStatus : "Available", 
                        djName : "Dj Messi", 
                        djState: "Abuja", 
                        djCountry : "Nigeria",
                        djRating : 3.5,
                        eventCount : 2,
                        djPhoto : "assets/images/placeholderImages/djPlaceholder1.jpg" 
                    }) 
                %>
                <!-- DJ 14 -->
                <%- 
                include('../partials/djCard.ejs', 
                {
                    djStatus : "Available", 
                    djName : "Dj Blinker", 
                    djState: "Accra", 
                    djCountry : "Ghana",
                    djRating : 4.5,
                    eventCount : 5,
                    djPhoto : "assets/images/placeholderImages/djPlaceholder8.jpg" 
                }) 
            %>
            </div>
        </main>
        <footer><%- include('../partials/footer.ejs') %></footer>
    </body>
    <script src="javascript/main.js"></script>
    <script src="javascript/playlistManage.js"></script>
    <script src="javascript/searchFeature.js"></script>
    <script src = "javascript/chatFeature.js"></script>
    <script src="https://kit.fontawesome.com/8c9fcb09a3.js" crossorigin="anonymous"></script>
</html>