<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Base CSS -->
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/navbar.css">
        <link rel="stylesheet" href="../../css/mainWidget.css">
        <link rel="stylesheet" href="../../css/timeline.css">
        <link rel="stylesheet" href="../../css/searchBar.css">
		   <link rel="stylesheet" href="../../css/footer.css">
		   <link rel="stylesheet" href="css/dashboard.css">
        <link rel="stylesheet" href="css/cards.css">
        <link rel="stylesheet" href="css/pageHero.css">
        <!-- Title -->
        <title>Cosmic Harmony - <%= pageTitle %></title>
        <!-- Logo Icon -->
        <link rel="icon" href="../../assets/squareLogo.png">
     </head>
    <body>
        <header><%- include('../partials/navbar.ejs') %></header>
        <main>
            <%- include('../partials/hero.ejs') %>
            <%- include('../partials/searchBar.ejs') %>
            <span id="genreCardsContainer">
                <!-- Genre 1 -->
                <%- include('../partials/genreCard.ejs', 
                    {
                        genreID: "hiphop",
                        genreName: "Hip-Hop",
                        genreDescription: "Experience urban culture through music. Here, rhythm and rhymes come together to form creative, catchy songs that you can bop your head along to.",
                        genreImage: "../../assets/images/placeholderImages/placeholder2.jpg",
                    }) 
                %>
                <!-- Genre 2 -->
                <%- include('../partials/genreCard.ejs', 
                    {
                        genreID: "afroBeats",
                        genreName: "AfroBeats",
                        genreDescription: "All the way from africa and beyond! AfroBeats are the best afro beats you can find!",
                        genreImage: "../../assets/images/placeholderImages/placeholder2.jpg",
                    }) 
                %>
                <!-- Genre 3 -->
                <%- include('../partials/genreCard.ejs', 
                {
                    genreID: "indiePop",
                    genreName: "Indie-Pop",
                    genreDescription: "Get acquainted with new independent artists who are amazing at making waves across the pop genre!",
                    genreImage: "../../assets/images/placeholderImages/placeholder2.jpg",
                }) 
                %>
                <!-- Genre 4 -->
                <%- include('../partials/genreCard.ejs', 
                {
                    genreID: "folkMusic",
                    genreName: "Folk",
                    genreDescription: "Dive headfirst into some heartwarming tunes that use simple melodies and acoustic instruments to capture your heart.!",
                    genreImage: "../../assets/images/placeholderImages/placeholder2.jpg",
                }) 
                %>
                <!-- Genre 5 -->
                <%- include('../partials/genreCard.ejs', 
                {
                    genreID: "electronicMusic",
                    genreName: "Electronic",
                    genreDescription: "Explore electronic sounds and rhythms that will make you feel like you’ve been transported to the future. If you love energetic music, this is the genre for you.!",
                    genreImage: "../../assets/images/placeholderImages/placeholder2.jpg",
                }) 
                %>
                <!-- Genre 6 -->
                <%- include('../partials/genreCard.ejs', 
                {
                    genreID: "internationalMusic",
                    genreName: "International",
                    genreDescription: "Want to learn more about music from different countries? Hear the latest hits in over 40 different languages!!",
                    genreImage: "../../assets/images/placeholderImages/placeholder2.jpg",
                }) 
                %>
                <!-- Genre 7 -->
                <%- include('../partials/genreCard.ejs', 
                {
                    genreID: "funkMusic",
                    genreName: "Funk",
                    genreDescription: "Get ready to groove along to funky basslines and upbeat melodies. This is great music to dance and move along to",
                    genreImage: "../../assets/images/placeholderImages/placeholder2.jpg",
                }) 
                %>
                <!-- Genre 8 -->
                <%- include('../partials/genreCard.ejs',
                {
                    genreID: "rockMusic",
                    genreName: "Rock",
                    genreDescription: "Featuring heavy drums and guitars, these tunes can make sure that you are jamming to the percussion and lyrics.",
                    genreImage: "../../assets/images/placeholderImages/placeholder2.jpg",
                })
                %>
            </span>
            <span id="songsByGenre">
                <!-- Hiphop -->
                <span class="genreName">Hip Hop</span>
                <hr>
                <span class="genreContainer" id = "hiphopContainer">
                    <!-- Song 1 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/hiphop/512 Spittin_K.I.R.K.mp3",
                    })
                    %>
                    <!-- Song 2 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt2.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/hiphop/Agit-Prop_Propaganda Anonymous.mp3",
                    })
                    %>
                    <!-- Song 3 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt3.webp",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/hiphop/Air Jordan_The Kid Daytona ft. Harlem's Cash.mp3",
                    })
                    %>
                    <!-- Song 4 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt4.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/hiphop/BITCHEZ_Yshwa.mp3",
                    })
                    %>
                    <!-- Song 5 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt5.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/hiphop/BLESSINGS_JOEY HENDRIXX ft NBA YOUNGBOY X JUICE WRLD X TOOSII.mp3",
                    })
                    %>
                    <!-- Song 6 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt2.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/hiphop/Consciousness Is The Key_Propaganda Anonymous.mp3",
                    })
                    %>
                    <!-- Song 7 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/hiphop/Creative Commerce_Cadence.mp3",
                    })
                    %>
                    <!-- Song 8 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt6.webp",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/hiphop/Get Your Weight Up remix_Storm the Unpredictable.mp3",
                    })
                    %>
                    <!-- Song 9 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt4.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/hiphop/Getting Nowhere_Yshwa.mp3",
                    })
                    %>
                    <!-- Song 10 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt5.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/hiphop/In the Dark_BrokeMC.mp3",
                    })
                    %>
                    <!-- Song 11 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/hiphop/Nights Like This_Propaganda Anonymous.mp3",
                    })
                    %>
                    <!-- Song 12 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt10.png",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/hiphop/Pick Up Ya Flow_Dyme Def.mp3",
                    })
                    %>
                    <!-- Song 13 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt11.jpeg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/hiphop/SNAKES_JOEY HENDRIXX ft GUNNA X YOUNG THUG.mp3",
                    })
                    %>
                    <!-- Song 14 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt5.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/hiphop/To Be_Yshwa.mp3",
                    })
                    %>
                    <!-- Song 15 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt7.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/hiphop/What They Sayin_Yshwa.mp3",
                    })
                    %>
                    <!-- Song 16 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt4.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/hiphop/Where To_G8.mp3",
                    })
                    %>
                </span>
                <!-- AfroBeats -->
                <span class="genreName">AfroBeats</span>
                <hr>
                <span class="genreContainer" id = "afroBeatsContainer">
                    <!-- Song 1 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt14.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/afrobeats/Abracadabra_Lordmoon.mp3",
                    })
                    %>
                    <!-- Song 2 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt11.jpeg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/afrobeats/Choice_Lordmoon.mp3",
                    })
                    %>
                    <!-- Song 3 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt10.png",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/afrobeats/Don't Stop the Party_Tadz.mp3",
                    })
                    %>
                    <!-- Song 4 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt9.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/afrobeats/Mary Christmas_Nexto.mp3",
                    })
                    %>
                    <!-- Song 5 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt10.png",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/afrobeats/Welcome to Africa_Nexto.mp3",
                    })
                    %>
                </span>
                <!-- Indie-Pop -->
                <span class="genreName">Indie-Pop</span>
                <hr>
                <span class="genreContainer" id = "indiePopContainer">
                    <!-- Song 1 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt14.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/indiepop/Backdrop_Blanket Music.mp3",
                    })
                    %>
                    <!-- Song 2 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt4.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/indiepop/Bootstraps_Blanket Music.mp3",
                    })
                    %>
                    <!-- Song 3 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt8.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/indiepop/Indie Pop Sock_Gus.mp3",
                    })
                    %>
                    <!-- Song 4 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt12.jpeg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/indiepop/Insurrection_Blanket Music.mp3",
                    })
                    %>
                    <!-- Song 5 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt9.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/indiepop/Kiss_Blanket Music.mp3",
                    })
                    %>
                    <!-- Song 6 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt14.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/indiepop/Soldier's Story_Blanket Music.mp3",
                    })
                    %>
                    <!-- Song 7 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt3.webp",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/indiepop/Unabridged_Blanket Music.mp3",
                    })
                    %>
                    <!-- Song 8 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt7.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/indiepop/Upbeat Funk Pop_Scott Holmes.mp3",
                    })
                    %>
                    <!-- Song 9 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt12.jpeg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/indiepop/We Are One_Scott Holmes.mp3",
                    })
                    %>
                    <!-- Song 10 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt2.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/indiepop/What It Is_Blanket Music.mp3",
                    })
                    %>

                </span>
                <!-- Folk -->
                <span class="genreName">Folk</span>
                <hr>
                <span class="genreContainer" id = "folkMusicContainer">
                    <!-- Song 1 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt10.png",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/Auld Lang Syne_Roger McGuinn.mp3",
                    })
                    %>
                    <!-- Song 2 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt4.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/Away in a Manger_Roger McGuinn.mp3",
                    })
                    %>
                    <!-- Song 3 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt9.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/Christiana_Peter Biedermann.mp3",
                    })
                    %>
                    <!-- Song 4 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt14.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/Deep River Blues_Janet Bean.mp3",
                    })
                    %>
                    <!-- Song 5 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt10.png",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/Delia's Gone_Roger McGuinn.mp3",
                    })
                    %>
                    <!-- Song 6 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/Every Time I Feel The Spirit_Roger McGuinn.mp3",
                    })
                    %>
                    <!-- Song 7 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt8.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholderGenres/folk/Fier_Quimorucru.mp3",
                    })
                    %>
                    <!-- Song 8 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt6.webp",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/Florcita_La Cantine Boga.mp3",
                    })
                    %>
                    <!-- Song 9 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt8.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/Greensleeves_Roger McGuinn.mp3",
                    })
                    %>
                    <!-- Song 10 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt11.jpeg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/Idle_Folk Festival Massacre.mp3",
                    })
                    %>
                    <!-- Song 11 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt9.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/Impulsive_Folk Festival Massacre.mp3",
                    })
                    %>
                    <!-- Song 12 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt13.jpeg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/Inside the Rain_Steffen Basho ft. Junghans.mp3",
                    })
                    %>
                    <!-- Song 13 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt12.jpeg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/Katie Morey_Roger McGuinn.mp3",
                    })
                    %>
                    <!-- Song 14 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt10.png",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/L'oubli_Quimorucru.mp3",
                    })
                    %>
                    <!-- Song 15 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt3.webp",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/L'oubli_Quimorucru.mp3",
                    })
                    %>
                    <!-- Song 16 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt3.webp",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/Old Joe Clark_Roger McGuinn.mp3",
                    })
                    %>
                    <!-- Song 17 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt4.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/On ta deja dit_Quimorucru.mp3",
                    })
                    %>
                    <!-- Song 18 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt12.jpeg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/People_Folk Festival Massacre.mp3",
                    })
                    %>
                    <!-- Song 19 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt9.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/Punch Puller_Folk Festival Massacre.mp3",
                    })
                    %>
                    <!-- Song 20 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt7.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/The Twelve Days of Christmas_Roger McGuinn .mp3.mp3",
                    })
                    %>
                    <!-- Song 21 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt8.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/skids_Folk Festival Massacre.mp3",
                    })
                    %>
                    <!-- Song 22 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt9.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/St. Clair's Defeat_Roger McGuinn.mp3",
                    })
                    %>
                    <!-- Song 23 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt10.png",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__", 
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/Synge's Chair_Fern Knight.mp3",
                    })
                    %>
                    <!-- Song 24 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt11.jpeg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/The News_Folk Festival Massacre.mp3",
                    })
                    %>
                    <!-- Song 25 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt12.jpeg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/folk/The Whale_Marius W. Arcadio.mp3",
                    })
                    %>
                </span>
                <!-- Electronic -->
                <span class="genreName">Electronic</span>
                <hr>
                <span class="genreContainer" id = "electronicMusicContainer">
                    <!-- Song 1 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/electronic/Bass Fire_Freccero.mp3",
                    })
                    %>
                    <!-- Song 2 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt2.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/electronic/BigBoom_AlexiAction.mp3",
                    })
                    %>
                    <!-- Song 3 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt4.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/electronic/Blast_AlexiAction.mp3",
                    })
                    %>
                    <!-- Song 4 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt5.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/electronic/CyberAttack_AlexiAction.mp3",
                    })
                    %>
                    <!-- Song 5 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt7.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/electronic/ESPP_Alex Kiznekov.mp3",
                    })
                    %>
                    <!-- Song 6 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt8.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/electronic/Get Up_86349.mp3",
                    })
                    %>
                    <!-- Song 7 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt9.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/electronic/Modern Energetic_TimTaj.mp3",
                    })
                    %>
                    <!-- Song 8 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt9.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/electronic/Synthwave 80s_AlexiAction.mp3",
                    })
                    %>
                    <!-- Song 9 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt14.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/electronic/tLNC_Evegeny ft Bardyuzha.mp3",
                    })
                    %>
                    <!-- Song 10 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt13.jpeg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/electronic/Trap_The Mountain.mp3",
                    })
                    %>
                </span>
                <!-- International -->
                <span class="genreName">International</span>
                <hr>
                <span class="genreContainer" id = "internationalMusicContainer">
                    <!-- Song 1 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/international/Ansi se me arrimo_Judith Cohen.mp3",
                    })
                    %>
                    <!-- Song 2 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt3.webp",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/international/Beach Party_Kevin MacLeod.mp3",
                    })
                    %>
                    <!-- Song 3 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt5.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/international/Chunovo_Gogofski.mp3",
                    })
                    %>
                    <!-- Song 4 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt7.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/international/Demons_Qina.mp3",
                    })
                    %>
                    <!-- Song 5 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt9.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/international/Dideba Maghalta Shina_Supruli.mp3",
                    })
                    %>
                    <!-- Song 6 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt11.jpeg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/international/Doko Doko_Zlatne Uste Balkan Brass Band.mp3",
                    })
                    %>
                    <!-- Song 7 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt13.jpeg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/international/Eni Wana Damu_The Sounds of Taraab.mp3",
                    })
                    %>
                    <!-- Song 8 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt14.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/international/GENI_Senyawa.mp3",
                    })
                    %>
                    <!-- Song 9 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt12.jpeg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/international/Hija mia te vo dar_Judith Cohen.mp3",
                    })
                    %>
                    <!-- Song 10 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt10.png",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/international/Improvisation 2_Electric Kulintang.mp3",
                    })
                    %>
                    <!-- Song 11 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt8.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/international/Mapenzi Matamu_The Sounds of Taraab.mp3",
                    })
                    %>
                    <!-- Song 12 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt6.webp",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/international/Muttos_Tenores de Aterue.mp3",
                    })
                    %>
                    <!-- Song 13 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt4.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/international/Nani Dzhann_Svitanya.mp3",
                    })
                    %>
                    <!-- Song 14 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt2.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/international/Porr Kon_Cyminology.mp3",
                    })
                    %>
                    <!-- Song 15 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt7.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/international/Sarki_Sheqer.mp3",
                    })
                    %>
                    <!-- Song 16 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt11.jpeg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/international/SISA_Senyawa.mp3",
                    })
                    %>
                    <!-- Song 17 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/albumArt4.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeHolderGenres/international/Vlasko Kolo_Zlatne Uste Balkan Brass Band.mp3",
                    })
                    %>
                </span>
                <!-- Funk -->
                <span class="genreName">Funk</span>
                <hr>
                <span class="genreContainer" id = "funkMusicContainer">
                    <!-- Song 1 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 2 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 3 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 4 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 5 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 6 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 7 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 8 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 9 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 10 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 11 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 12 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 13 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 14 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 15 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 16 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 17 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 18 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 19 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 20 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                </span>
                <!-- Funk -->
                <span class="genreName">Rock</span>
                <hr>
                <span class="genreContainer" id = "rockContainer">
                    <!-- Song 1 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 2 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 3 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 4 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 5 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 6 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 7 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 8 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 9 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 10 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 11 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 12 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 13 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 14 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 15 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 16 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 17 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 18 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 19 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                    <!-- Song 20 -->
                    <%- include('../partials/songCard.ejs',
                    {
                       songArt: "../../assets/images/placeholderImages/placeholder1.jpg",
                       songTitle: "placeholder 1",
                       songArtist: "Artist 1 ft. artist 2 ",
                       songDuration: "__:__",
                       songSource: "../../assets/audio/placeholderAudio/placeholder1.mp3",
                    })
                    %>
                </span>
            </span>
        </main>
        <footer><%- include('../partials/footer.ejs') %></footer>
    </body>
    <script src="javascript/main.js"></script>
    <script src="javascript/playlistManage.js"></script>
    <script src="javascript/searchFeature.js"></script>
    <script src = "javascript/chatFeature.js"></script>
    <script src="javascript/musicLibrary.js"></script>
    <script src="https://kit.fontawesome.com/8c9fcb09a3.js" crossorigin="anonymous"></script>
</html>